$pure-black: #000000;
$black: #2F2F2F;
$black-tone-1:#4A4A4A;
$purple: #7E3076;
$white: #ffffff;
$gallery: #EBEBEB;
$tapestryapprox: #9d4c94;
$oslo-gray: #888C94;
$wild-sand: #F5F5F5;
$athens-gray: #EEF0F3;
$mercury: #E3E3E3;
$sea-green :#2D8C48;
$whisper: #EBE6F1;
$milano-red: #CA0505;


