@import "../public/static/scss/variables";

.city-card{
  margin: auto;
  .card-body{
    &.city-box{
      position: absolute;
      background: white;
      left: 3%;
      width: 94%;
      bottom: 4%;
      border-radius: 8px;
    }
    .agent-name{
      color: $black;
      font-size: 20px;
      font-weight: 700;
    }
    .agent-followers{
      color: $black;
      font-size: 18px;
      font-weight: 400;
    }
    .agent-location{
      color: $oslo-gray;
      font-size: 16px;
    }
  }
}

