@import "../public/static/scss/variables";

.city-card{
  margin: auto;
  img{
    border-radius: 20px !important;
  }
  .card-body{

    &.city-box{
      position: absolute;
      background: white;
      left: 3%;
      width: 94%;
      bottom: 4%;
      border-radius: 8px;
      padding: 0.5rem !important;
    }
    .city-name{
      color: $black;
      font-size: 17px;
      font-weight: 700;
    }
    .agent-info{
      color: $black;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

