@import "../public/static/scss/variables";

.client-card{
  border-radius: 18px;
  cursor: pointer;
  margin: auto;
  .profile-pic{
    object-fit: cover;
    border-radius: 18px;
  }
  .card-body{
    padding-left: 12px !important;
    .agent-name{
      color: $black;
      font-size: 15px;
      font-weight: 700;
    }
    .agent-followers{
      color: $black;
      font-size: 14px;
      font-weight: 400;
    }
    .agent-location{
      color: $oslo-gray;
      font-size: 14px;
    }
  }
}

