@import "../public/static-files/scss/variables";

.nav-bar{
  padding: .5rem 10%;
  border-bottom: 1px solid rgb(0 0 0 / 16%);
  .user-pic{
    border-radius: 50%;
  }
  .search-input{
    padding: 9px 165px 9px 13% !important;
    background: $white;
    border: 1px solid $gallery;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    ::placeholder {
      text-overflow: ellipsis !important;
    }
  }
  .search-icon{
    top: 49%;
    transform: translate(2%, -49%);
    left: 20px;
  }
  .search-result{
    border-radius: 10px;
    position: absolute;
    background: $white;
    width: 100%;
    margin-top: 2%;
    border: 1px solid #EBEBEB;
    z-index: 99;
    max-height: 50vh;
    overflow: scroll;
    .search-obj{
      padding: 13px;
      border-bottom: 1px solid black;
      &:last-child{
        border-bottom:none;
      }
    }
  }
  a{
    &:hover{
      color: $purple !important;
    }
  }
  .title{
    color: $black;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    p{
      margin: 0;
      &:hover{
        color: $purple !important;
      }
    }
  }
  .nav-links{
    align-self: center;
    color: $black !important;
    font-size: 15px !important;
    font-weight: 400;
    &.last-child{
      padding: 0 1rem;
    }
    a{
      color: $black;
      text-decoration: none !important;
      cursor: pointer;
      &:hover{
        color: $purple !important;
      }
    }
  }
  .signup-btn{
    background: $purple;
    font-size: 14px;
    color: $white;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 10px 20px;
    &:focus{
      box-shadow: none;
    }
    &:hover{
      background: $tapestryapprox;
    }
  }
  .user-avatar{
    cursor: pointer;
    border:2px solid #7E3076 !important;
    border-radius: 50%;
    background: #F7F9FA;
    color: #fff;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .user-profile{
    display: none;
  }
}
