@import "../public/static/scss/variables";

.search-result{
  max-width: 49%;
  //background: #FFFFFF;
  //border: 1px solid #888C94;
  //box-sizing: border-box;
  //border-radius: 50px;

  .search-icon{
    top: 51%;
    transform: translate(2%, -51%);
    left: 20px;
    font-size: 23px;
  }

  .search-input{
    font-size: 19px;
    padding: 0 165px 0 10%;
    background: $white;
    border: 1px solid $gallery;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    ::placeholder {
      text-overflow: ellipsis !important;
    }
  }
  .search-btn{
    background: $purple;
    top: 50%;
    transform: translate(2%, -50%);
    right: 20px;
    border-color: $purple;
    padding: 5px 5%;
    &:focus{
      box-shadow: none;
    }
    &:hover{
      background: $tapestryapprox;
    }
  }
}

.total-search{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4A4A4A;
  margin-top: 1rem;
}

.map-btn-1{
  left: 29%;
  top: 1.75%;
}

.map-btn-2{
  left: 56%;
  top: 1.75%;
}

.map-btn-3{
  left: 83%;
  top: 1.75%;
}

.no-result{
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 8%;
  background: #f8f8f8;
  padding: 6%;
}


@media (max-width: 768px) {
  .search-result{
    max-width: 95% !important;
    .search-input{
      padding: 0 35% 0 2%;
    }
  }
}
